<ul>
  <li>
    Name: <%= @guest.name %>
  </li>
  <li>
    Email Address: <%= @guest.email_address %>
  </li>
</ul>

<ul>
  <li><%= link_to "Back", event_guests_path(@event) %></li>
  <li><%= link_to "Edit", edit_event_guest_path(@event, @guest) %></li>
  <li><%= link_to "Destroy", [@event, @guest],
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
                  
</ul>