<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @guest.first_name %>,</p>
    <p>
      Congratulations! You're invited by <%= @guest.added_by %> to an event.
    </p>
    <p><b>Event title: <%= @event.title %></b></p>
    <p><b>Event date: <%= @event.date %></b></p>
    <p><b>Ticket Number: <%= @guest.total_booked_num %></b></p>
    <p><b>Seat Category: <%= @guest.seat_category %></b></p>
    <img src=<%= $event_pic.to_s %>>
    <p>
      Please RSVP to confirm attendence with this link: <%= link_to 'RSVP', edit_event_guest_url(@event, @guest, :protocol => 'https') %>.
    </p>
    <p>Thank you and have a great day!</p>
  </body>
</html>