<head>
<%= csrf_meta_tags %>
</head>

<style>
  #form-div, #referral{
    
    text-align: center;
  }

  .ticket {
            text-align: center;
            border: 3px solid black;
            margin: 50px;
    }

  #file-button{
    margin-left: 20%;
  }

  body {

  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://www.teahub.io/photos/full/197-1977791_portland-wallpapers-hd-portland-oregon-city-view.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed; 
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width:100%; 
  
}

section{
  padding: 40px;
  padding-bottom: 100vh;
}

.display-6, h2, h3, h4, input, label{
  color: white;
  text-align: center;
}

div {
  align-items: center;
}

p {
  color: black;
  display: table-row;
  text-align: center;
}

label{
  display: table-cell;
}

input {
  color: white; 
  background-color: transparent; 
  border: 2px solid white; 
  border-radius: 2px; 
  padding: 5px;
  font-size: 16px;
  display: table-cell;
}

form{
  display: table;
  margin-left: 25%
}

.button{
  color: white; 
  background-color: transparent; 
  border: 2px solid white; 
  border-radius: 2px; 
  padding: 5px;
}

.button:hover {
  opacity: 0.5;
}

#rsvp-contents{
  text-align: center; 
  padding-top: 10px; 
  padding-bottom: 20px; 
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid white;
  color: white;
}

#rsvp-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: black;
}

.level-contents-toggle{
text-align: center;
}

#rsvp-form{
  color: black;
}

.level-box{
  margin-right: 5px;
}

.capacity-box{
  margin-right: 5px;
}

.ticket {
        text-align: center;
        border: 3px solid black;
        margin: 50px;
}

#referral-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: black;
}

.level-contents-toggle{
  text-align: center;
}

#referral-contents-toggle{
  display: none; 
  text-align: center; 
  padding-top: 10px; 
  padding-bottom: 20px; 
  background-color: #e6ccff;
  color: black; 
  border-radius: 10px;
  padding: 10px;
}

</style>

<body>
<section>


<script>
  
  //JS toggles RSVP Form visibility
  function toggle_referral() {
  var button_name = document.getElementById("referral-prepper");
  var x = document.getElementById("referral-contents-toggle");
  if (x.style.display == "none") {
    button_name.innerHTML = "Close Referral Reward Template";
    x.style.display = "block";
  } else {
    button_name.innerHTML = "Open Referral Reward Template";
    button_name.style.background = "lightgreen";
    x.style.display = "none";
  }
}

function refresh()
{
  // or $('#myform')[0] with jQuery
  $("#reward-msg").load(location.href + " #reward-msg");
  
}

</script>

<h4>Event Creation</h4>

<div id="rsvp-contents">
  <form id="rsvp-form" method='post' action='http://localhost:3000/events'>
  <p>
    <label for="user_id">User ID(Temporary):</label>&nbsp<input type='number' id='user_id' name='user_id'><br><br>
  </p>
  <p>
    <label for="title">Event Title:</label>&nbsp<input type='text' id='title' name='title'><br><br>
  </p>
  <p>
    <label for="address">Event Address:</label>&nbsp<input type='text' id='address' name='address'><br><br> <!-- https://github.com/kristianmandrup/gmaps-autocomplete-rails link for GMaps integration - might be too old for use -->
  </p>
  <p>
    <label for="description">Event Description:</label>&nbsp<input type='text' id='description' name='description'><br><br>
  </p>
  <p>
    <label for="datetime">Event Date:</label>&nbsp<input type='datetime-local' id='datetime', name='datetime'><br><br>
  </p>
    <input type="hidden" id="last_modified" name="last_modified" value= <%= Time.now %> >
    <!--<label for=":image">File to upload</label><%= file_field_tag(:image) %><br><br> Image us not working currently-->
    <button type="submit" value="submit" class="button">Create Event</button>
  </form>
</div>

<br>

    <h4>Invitation Card Contents Preview</h4>

    <div class="ticket" style="background: white; color: black; border: 2px solid white; border-radius: 3px;">
        <h2 id="event-t" style="color: black;"><%= $event_title %></h2><br>
        <div id="img">
        <% if $event_image %>
          <p> <%= image_tag($event_image, :size => "300x300", :crop => :fill) %> <p>
        <% end %>
        </div>
        <br>
        <p id="event-date"><b>Event date: <%= $event_date.to_s %></b></p>
        <p id="num-tickets"><b>Number of Tickets: <%= $event_tickets.to_s %></b></p>
        <p id="event-addr"><b>Event Address: <%= $event_address.to_s %> </b></p>
        <!-- <p><b>Event Address: 1255 NW 9th Ave, Portland, OR 97209</b></p> -->
        <p id="about-event"><strong>About Event: </strong><%= $event_txt.to_s %></p>
        <p style="color: orange;"><strong>NOTE: </strong>Click browser back button to make changes.</p>
    </div><br><br>

<h1 class="display-6" style="text-align: center;"> Manage Guests </h1>
<br>


<br><br>
<div id="form-div">
<h3>Import Box Office Data</h3>
<%= form_tag import_new_spreadsheet_path, multipart: true  do %> 
  <div style="text-align: center;">
    <br>
    <%= label_tag(:file, "Accepted types: .xlsx") %><br>
    <%= file_field_tag(:file, :id => "file-button") %><br><br>
    <%= submit_tag("Import Latest Box Office Data", :class => "button") %>
  </div>
<% end %>
</div>
<br><br><br><br>

<h1 class="display-6" style="text-align: center; color: gray;"> Referral Rewards </h1>

<br><br>
  <div id="referral">
  <button type="button" id="referral-prepper" class="btn btn-success btn-rounded" onclick="toggle_referral()">Create Referral Reward Template</button>
  <br><br>
  <div id="referral-contents-toggle">
  <h4>Referral Reward Email Template</h4>
  <div class="referral-template" style="background: white; color: black;"> 
        <p>Hi Guest,</p>
        <p id="reward-msg">Please send your friend an invitation to FashionNXT by inserting their email in the box below. You will receive <%= $reward.to_s %> Reward if any of your friends purchase tickets to FashionNXT.</p>
        <p id="email"><b>Email:  <%= label_tag(:email, "")%>
        <%= text_field_tag(:email, nil, :required => 'true', placeholder: "email", style:"color: black;")%><br><br></p>
        <p>Choose the date you are going and want your friends to join:</p>
        <p id="event-date"><b>Event date:  <%= label_tag(:event_date, "") %>
        <%= text_field_tag(:event_date, nil, :required => 'true', placeholder: "MM/DD/YYYY", style:"color: black;")%><br><br></p>
  </div>

    <%= form_tag '/events/create_event', :id => "referral-form", :remote => true do %>
    <%= label_tag(:reward, "Insert Reward:", :style => "color: black;") %>
    <%= text_field_tag(:reward, nil, :required => 'true', placeholder: "XYZ Reward", :style => "color: black;")%><br><br>
    <%= submit_tag "Save Changes", :id => "thisone", :class => "btn btn-success btn-rounded" %>
    <% end %>
       
       <br>
        <%= button_tag "Preview Changes", :id => "thisone", :type => "button", :class => "btn btn-success btn-rounded", :onclick => "refresh()" %>
      <br>



    <br><%= button_to "Back to Dashboard", root_path, :class => "btn btn-success btn-rounded", :type => "button", :method => "get" %>

</div>
<br><br>
</section>
</body>