<head>
<%= csrf_meta_tags %>
</head>

<style>
  #form-div, #referrals{
    
    text-align: center;
  }

  #file-button{
    margin-left: 20%;
  }

  body {

  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://www.teahub.io/photos/full/197-1977791_portland-wallpapers-hd-portland-oregon-city-view.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed; 
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width:100%; 
  
}

section{
  padding: 40px;
  padding-bottom: 100vh;
}

.display-6, h2, h3, p, input, label{
  color: white;

}

.button{
  color: white; 
  background-color: transparent; 
  border: 2px solid white; 
  border-radius: 2px; 
  padding: 5px;
}

.button:hover {
  opacity: 0.5;
}

</style>

<body>
<section>
<br>

<h1 class="display-6" style="text-align: center;"> Guest Setup Portal</h1>
<br>


<br><br>
<div id="form-div">
<h3>Import Box Office Data</h3>
<%= form_tag import_new_spreadsheet_path, multipart: true  do %> 
  <div style="text-align: center;">
    <br>
    <%= label_tag(:file, "Accepted types: .xlsx") %><br>
    <%= file_field_tag(:file, :id => "file-button") %><br><br>
    <%= submit_tag("Import Latest Box Office Data", :class => "button") %>
  </div>
<% end %>
</div>
<br><br><br><br>
<h3 style="text-align: center"> Referral Rewards </h3>

<div id="referrals">
    <br><br>
    <%= button_tag("Create Referral Reward Template", :class => "button") %>
    <br><br>

    <%= button_to "Back to Dashboard", root_path, :class => "button", :type => "button", :method => "get"%>

</div>
<br><br>
</section>
</body>

    
    
