<head>
<%= csrf_meta_tags %>
</head>

<style>
  #form-div, #referrals{
    
    text-align: center;
  }

  #file-button{
    margin-left: 20%;
  }

</style>

<br>

<h1 class="display-6" style="text-align: center; color: gray;"> Guest List </h1>
<br>
<table class="table table-sm col-md-12">
  
  <thead class="thead-light">
    <tr>
      <% @guest_params.each do |param| %>
        <% column_title = param.dup.gsub('_', ' ')%>
        <% column_title.capitalize! %>
        <th><%= column_title %></th>
      <% end %>
      
      <th>Action</th>
      <th>Ticket Booking Status</th>
      <th>Total Booked</th>
    </tr>
  </thead>
  <tbody>
        <tr>
        <% @guest_params.each do |param| %>
          <td>
          </td>
        <% end %>
        </tr>
  </tbody>
</table>
<br><br>
<div id="form-div">
<h2 style="color: gray;">Import Latest Box Office Data</h2>
<%= form_tag import_new_spreadsheet_path, multipart: true  do %> 
  <div style="text-align: center;">
    <br>
    <%= label_tag(:file, "Accepted types: .xlsx") %><br>
    <%= file_field_tag(:file, :id => "file-button") %><br><br>
    <%= submit_tag("Import Latest Box Office Data", :class => "btn btn-secondary btn-rounded") %>
  </div>
<% end %>
</div>
<br><br><br><br>
<h1 class="display-6" style="text-align: center; color: gray;"> Referral Rewards </h1>

<div id="referrals">
    <br><br>
    <%= button_tag("Create Referral Reward Template", :class => "btn btn-success btn-rounded") %>
</div>

<br><br>

<%= button_to "Back to Setup", root_path, :type => "button", class: "btn btn-secondary btn-rounded", :method => "get"%>

<br><br>

    
    
