<h2>1. Import New/Updated Box Office Spreadsheet: </h2>

<script>
  //JS toggles RSVP Form visibility
  function toggle() {
  var x = document.getElementById("rsvp-contents-toggle");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  return
}
</script>

<%= form_tag import_new_spreadsheet_path, multipart: true do %>
  <!--<div>-->
  <!--  <%= label_tag(:username, "Gmail Username:") %><br>-->
  <!--  <%= text_field_tag(:username) %>-->
  <!--</div>-->
  
  <!--<div>-->
  <!--  <%= label_tag(:password, "Gmail Password:") %><br>-->
  <!--  <%= text_field_tag(:password) %>-->
  <!--</div>-->
  
  <div>
    <%= label_tag(:file, "Accepted types: .xlsx") %><br>
    <%= file_field_tag(:file)%>
  </div>
  
  <div>
    <%= submit_tag("Import") %>
  </div>
<% end %>

<br>

<h2>2. Open imported Box Office Spreadsheet: </h2> 
<%= form_tag open_existed_spreadsheet_path do %>
  <div>
    <%= label_tag(:event_title, "Name of the Event:") %><br>
    <%= text_field_tag(:event_title) %><br><br>
    
    <h2>3. Prepare RSVP Form: </h2>
    <button onclick="toggle()">Start</button>
    
    <div id="rsvp-contents-toggle" style="display: none;">
    <%= label_tag(:event_picture, "Insert event picture link:") %><br>
    <%= text_field_tag(:event_picture) %><br><br>
    <%= label_tag(:event_text, "Insert event description:") %><br>
    <%= text_field_tag(:event_text) %>
    </div>
    
  </div>
  <div>
    <br>
    <%= submit_tag("Open Spreadsheet") %>
  </div>
<% end %>