<h2 style="color: orange;">HAPPY HALLOWEEN! </h2>
<img src='<% @event_pic %>' alt="Email Picture">
<h2>1. Import New/Updated Box Office Spreadsheet: </h2> 
<%= form_tag import_new_spreadsheet_path, multipart: true do %>
  <!--<div>-->
  <!--  <%= label_tag(:username, "Gmail Username:") %><br>-->
  <!--  <%= text_field_tag(:username) %>-->
  <!--</div>-->
  
  <!--<div>-->
  <!--  <%= label_tag(:password, "Gmail Password:") %><br>-->
  <!--  <%= text_field_tag(:password) %>-->
  <!--</div>-->
  
  <div>
    <%= file_field_tag(:file)%>
  </div>
  
  <div>
    <%= submit_tag("Import") %>
  </div>
<% end %>

<h2>2. Open imported Box Office Spreadsheet: </h2> 
<%= form_tag open_existed_spreadsheet_path do %>
  <div>
    <%= label_tag(:event_title, "Name of the Event:") %><br>
    <%= text_field_tag(:event_title) %>
    <%= text_field_tag(:event_picture) %>
  </div>
  <div>
    <%= submit_tag("Open") %>
  </div>
<% end %>