<h2>1. Import New/Updated Box Office Spreadsheet: </h2> 
<%= form_tag import_new_spreadsheet_path, multipart: true do %>
  <!--<div>-->
  <!--  <%= label_tag(:username, "Gmail Username:") %><br>-->
  <!--  <%= text_field_tag(:username) %>-->
  <!--</div>-->
  
  <!--<div>-->
  <!--  <%= label_tag(:password, "Gmail Password:") %><br>-->
  <!--  <%= text_field_tag(:password) %>-->
  <!--</div>-->
  
  <div>
    <%= label_tag(:file, "Accepted types: .xlsx") %><br>
    <%= file_field_tag(:file)%>
  </div>
  
  <div>
    <%= submit_tag("Import") %>
  </div>
<% end %>

<h2>2. Open imported Box Office Spreadsheet: </h2> 
<%= form_tag open_existed_spreadsheet_path do %>
  <div>
    <%= label_tag(:event_title, "Name of the Event:") %><br>
    <%= text_field_tag(:event_title) %><br>
    
    <h2>3. Invitation Template: </h2>
    <%= label_tag(:event_picture, "Invitation Picture Link:") %><br>
    <%= text_field_tag(:event_picture) %>
  </div>
  <div>
    <br>
    <%= submit_tag("Open Spreadsheet") %>
  </div>
<% end %>