
<h2>Import Box Office Seat-Table: </h2> 
<%= form_tag load_event_information_path do %>
  <div>
    <%= label_tag(:username, "Gmail Username:") %><br>
    <%= text_field_tag(:username) %>
  </div>
  
  <div>
    <%= label_tag(:password, "Gmail Password:") %><br>
    <%= text_field_tag(:password) %>
  </div>

  <div>
    <%= label_tag(:event_title, "Name of the Box Office Seat-Table:") %><br>
    <%= text_field_tag(:event_title) %>
  </div>
  
  <div class="mt-3">
    <%= submit_tag("Submit") %>
  </div>
<% end %>