<%= form_with(model: seating_type) do |form| %>
  <% if seating_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seating_type.errors.count, "error") %> prohibited this seating_type from being saved:</h2>

      <ul>
      <% seating_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :seat_category %>
    <%= form.text_field :seat_category, class:"form-control" , value:"PATRON"%>
  </div>

  <div class="field form-group">
    <%= form.label :total_seat_count %>
    <%= form.number_field :total_seat_count, class:"form-control", value:1 %>
  </div>

  <div class="field form-group">
    <%= form.label :vip_seat_count %>
    <%= form.number_field :vip_seat_count, class:"form-control", value:1 %>
  </div>

  <div class="field form-group">
    <%= form.label :box_office_seat_count %>
    <%= form.number_field :box_office_seat_count, class:"form-control", value:1 %>
  </div>

  <div class="field form-group">
    <!--<%= form.label :event_id  %>-->
    <%= form.hidden_field :event_id, class:"form-control", value: Event.all %>
  </div>

  <div class="actions form-group">
    <%= form.submit class:"btn btn-secondary"%>
  </div>
<% end %>
