<h1>Response Form</h1>
<p>Response for invitation to event xxx</p>

<%= form_for :form do |f| %>
  <p>
    <%= f.label :email, :class => 'col-form-label'%><br>
    <%= f.text_field :email, value: @email, :class => 'form-control' %>
  </p>

  <p>
    <%= f.label :choice, 'Will you come to this event?', :class => 'col-form-label'%><br>
		<%= radio_button_tag(:coming, "yes") %>
  		<%= label_tag(:coming, "Yes") %>
		<%= radio_button_tag(:coming, "no") %>
  		<%= label_tag(:coming, "No") %>
	</p>

  <p>
		<%= f.label :number, 'How many tickets would you like?', :class => 'col-form-label'%><br>
		<%= f.select :number, Array(0..@max), {}, {:class => 'form-control col-1'} %>
  <p>
    <%= f.label :other, "Other information(optional)"%><br>
    <%= f.text_area :other %>
  </p>
 
  <p>
    <%= submit_tag 'Submit', :class => 'btn btn-primary' %>
  </p>
<% end %>
