<!DOCTYPE html>
<html>
<head>
  <title>EVENTNXT</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_importmap_tags %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD15UtHa0mICshgHLTfDPXj8IUCpTCB7MY&libraries=places&callback=initMap" data-turbolinks-eval="false"></script> <!-- GMAP API -->
  <script>window.process = { env: {} }</script>
</head>
<body>
  <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

  <nav class="nav navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: #e6ccff;">
    <h1 class="title">EVENTNXT</h1>
    <%= yield :nav %>
  </nav>

  
  <main class='d-flex m-auto flex-column w-75'>
    <%# Render "flash" messages in our application. This loads _flash.erb %>
    <%# <%= render 'layouts/flash' %>
    <%= yield %>
  </main>
</body>
</html>
